.App {
  background-color: black;
}
.row_header {
  color: white;
}
.billboard {
  max-height: 450px;
  color: white;
  object-fit: contain;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  width: 100%;
  overflow-x: scroll;
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster {
  object-fit: contain;
  margin-right: 10px;
  max-height: 100px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
.billboard-content {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}
.billboard-overview {
  color: #fff;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  font-size: 1.4vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  margin-top: 0.1vw;
}
